{% extends 'layout.html.twig' %}

{% block title %}Edit Section{% endblock %}

{% block content %}
    <section class="wrap-bo-section container">
        <div class="row">
            <div class="col-12">
                <div class="back">
                    <a href="{{ path('admin_index') }}">
                        &lt; Back</a>
                </div>
            </div>
        </div>
        <h1>ÉDiter une section - Portfolio</h1>
        <div class="row">
            <div class="col-12">

                {{ include('section/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

                <a href="{{ path('section_index') }}">Retour à la liste</a>

                {{ include('section/_delete_form.html.twig') }}
            </div>
        </div>
    </section>
{% endblock %}