{% extends 'layout.html.twig' %}

{% block title %}Section Backoffice{% endblock %}

{% block content %}

    <section class="wrap-bo-section container">
        <div class="row">
            <div class="col-12">
                <div class="back">
                    <a href="{{ path('admin_index') }}">
                        &lt; Back</a>
                </div>
            </div>
        </div>
        <h1>Section - Portfolio</h1>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Titre</th>
                            <th>Contenu</th>
                            <th>Position (numéro de section)</th>
                            <th>Est-ce un projet ?</th>
                            {# <th>Is_skill</th> #}
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for section in sections %}
                            <tr>
                                <td>{{ section.id }}</td>
                                <td>{{ section.title }}</td>
                                <td>{{ section.content }}</td>
                                <td class="center">{{ section.position }}</td>
                                <td class="center">{{ section.isProject ? 'Yes' : 'No' }}</td>
                                <td class="center">{{ section.isSkill ? 'Yes' : 'No' }}</td>
                                <td>
                                    <a href="{{ path('section_show', {'id': section.id}) }}">Voir</a>
                                    <a href="{{ path('section_edit', {'id': section.id}) }}">Éditer</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td class="msg" colspan="7">aucun enregistrement</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('section_new') }}">Nouvelle section</a>
            </div>
        </div>
    </section>
{% endblock %}