{% extends 'layout.html.twig' %}

{% block title %}New Section{% endblock %}

{% block content %}
    <section class="wrap-bo-section container">
        <div class="row">
            <div class="col-12">
                <div class="back">
                    <a href="{{ path('admin_index') }}">
                        &lt; Back</a>
                </div>
            </div>
        </div>
        <h1>Nouvelle section - Portfolio</h1>
        <div class="row">
            <div class="col-12">

                {{ include('section/_form.html.twig') }}

                <a href="{{ path('section_index') }}">Retour à la liste</a>
            </div>
        </div>
    </section>
{% endblock %}