{% extends 'layout.html.twig' %}

{% block title %}Section{% endblock %}

{% block content %}
    <section class="wrap-bo-section container">
        <div class="row">
            <div class="col-12">
                <div class="back">
                    <a href="{{ path('admin_index') }}">
                        &lt; Back</a>
                </div>
            </div>
        </div>
        <h1>Voir la section - Portfolio</h1>
        <div class="row">
            <div class="col-12">
                <table class="table show-section">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ section.id }}</td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td>{{ section.title }}</td>
                        </tr>
                        <tr>
                            <th>Content</th>
                            <td>{{ section.content }}</td>
                        </tr>
                        <tr>
                            <th>Position</th>
                            <td>{{ section.position }}</td>
                        </tr>
                        <tr>
                            <th>Is_project</th>
                            <td>{{ section.isProject ? 'Yes' : 'No' }}</td>
                        </tr>
                        <tr>
                            <th>Is_skill</th>
                            <td>{{ section.isSkill ? 'Yes' : 'No' }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="actions">
                    <a href="{{ path('section_index') }}">Retour à la liste<br></a>

                    <a href="{{ path('section_edit', {'id': section.id}) }}">Éditer</a>

                    {{ include('section/_delete_form.html.twig') }}

                </div>
            </div>
        </section>
    {% endblock %}