.wrap-backoffice {
    h1 {
        padding: 50px 0;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Archivo Black', sans-serif;
    }
    p {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        padding: 30px 0 40px 0;
    }
    .button-section-item {
        text-align: center;
        a {
            font-family: 'Archivo Black', sans-serif;
            background-color: $green;
            color: $dark-grey;
            transition: all 0.3s;
            padding: 10px 10px;

            &:hover {
                color: $white;
                transition: all 0.3s;
                text-decoration: none;
            }
        }
    }
    
}