header {
    .navbar {
        justify-content: flex-end;
        .navbar-toggler{
            border : none;
            .navbar-toggler-icon{

            }
        }
        .collapse{

        }
    }
}