.wrap-section {
    #app {
        article {
            padding: 70px 0;
            font-family: 'Archivo Black', sans-serif;
            text-align: center;
            h2 {
                font-size: 20px;
                &:after {
                    content: '';
                    display: block;
                    width: 10%;
                    margin: 25px auto;
                    border-bottom: 1px solid $dark-grey;
                }
            }
            .green-block {
                position: relative;
                &:after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 120px;
                    height: 120px;
                    background-color: #82CA9C;
                    top: 0;
                    right: 12%;
                }
            }
            h1 {
                font-size: 31px;
                margin-bottom: 45px;
                .span-h1 {
                    font-size: 43px;
                }
            }
            p {}
            .button-newt {
                text-align: right;
                background-color: $green;
            }
        }
    }
}