.wrap-login {
    text-align: center;
    form {
        margin-top: 150px;
        .form-group {
            .label-login {
                padding-top: 25px;
            }
            .input-login {
                border: none;
                border-bottom: 1px solid $green;
            }
        }
        .button-login {
            background-color: $green;
            padding: 5px 45px;
            border: none;
            text-transform: uppercase;
            margin-top: 40px;
        }
    }
}