.wrap-bo-section,
.wrap-bo-item {
    h1 {
        padding: 50px 0;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Archivo Black', sans-serif;
    }
    table {
        margin-top: 35px;
        tr {
            padding: 25px 0;
            th {
                font-family: 'Archivo Black', sans-serif;
                text-align: center;
                font-size: 12px;
            }
            td {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
                padding: 20px 15px;
                &.center {
                    text-align: center;
                }
            }
            .msg {
                padding: 30px 15px;
                font-weight: 100;
            }
        }
        margin-bottom: 35px;
        &.show-section {
            th {
                text-align: left;
            }
        }
    }
    a {
        font-family: 'Archivo Black', sans-serif;
        background-color: $green;
        color: $dark-grey;
        transition: all 0.3s;
        padding: 3px 5px;
        font-size: 12px;
        margin-bottom: 5px;
        &:hover {
            color: $white;
            transition: all 0.3s;
            text-decoration: none;
        }
    }
    .bouton {
        font-family: 'Archivo Black', sans-serif;
        background-color: #82CA9C;
        color: #212121;
        transition: all 0.3s;
        font-size: 12px;
        border: none;
        &:hover {
            color: $white;
            transition: all 0.3s;
            text-decoration: none;
        }
    }
    .back {
        padding: 30px 0;
    }
    label {
        width: 100%;
        font-size : 12px;
    }
    input[type='text'] {
        width: 100%;
        margin-bottom: 35px;
        border: none;
        border-bottom: 1px solid $green;
        padding: 0;
        font-size: 12px;
    }
    input[type='number'] {
        margin-bottom: 35px;
        font-size: 12px;
    }
}