{% extends 'layout.html.twig' %}

{% block title %}
    Bienvenue - Charlotte Lacroix
{% endblock %}

{% block content %}

    <section class="wrap-backoffice container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h1>Vous êtes bien connecté.</h1>
            </div>
            <div class="col-12">
                <p>Que souhaitez-vous faire ?</p>
            </div>
            <div class="col-12 ">
                <div class="row button-section-item">
                    <div class="col-6">
                        <a href="{{ path('section_index') }}">Ajouter / Modifier les sections</a>
                    </div>
                    <div class="col-6 button-item">
                        <a href="{{ path('item_index') }}">Ajouter / Modifier les projets</a>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}