<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% block stylesheets %}

            <link href="{{ asset('build/css/app.css') }}" rel="stylesheet"/>

        {% endblock %}
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>
    <body>

        <main>

            {% block content %}{% endblock %}

        </main>
        <footer></footer>

        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>
            <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>