{% extends 'layout.html.twig' %}

{% block title %}
    Développeuse Front-End - Charlotte Lacroix
{% endblock %}

{% block content %}

    <section class="wrap-login container">
        <div class="row justify-content-center">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="col-12">
                <form action="{{ path('login') }}" method="post" class="row">
                    <div class="form-group col-12">
                        <div class="row">
                            <div class="col-12">
                                <label for="username" class="label-login">Login</label>
                            </div>
                            <div class="col-12">
                                <input type="text" id="username" name="_username" value="{{ last_username }}" class="input-login"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-12">
                        <div class="row">
                            <div class="col-12">
                                <label for="password" class="label-login">Mot de passe</label>
                            </div>
                            <div class="col-12">
                                <input type="password" id="password" name="_password" class="input-login"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="button-login">login</button>
                    </div>
                    <input type="hidden" name="_target_path" value="/admin"/>
                </form>
            </div>
        </div>
    </section>

{% endblock %}