{% extends 'layout.html.twig' %}

{% block title %}Modification Item{% endblock %}

{% block content %}
    <section class="wrap-bo-item container">
        <div class="row">
            <div class="col-12">
                <div class="back">
                    <a href="{{ path('admin_index') }}">
                        &lt; Back</a>
                </div>
            </div>
        </div>
        <h1>Modifier l'item - Portfolio</h1>
        <div class="row">
            <div class="col-12">

                {{ include('item/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

                <a href="{{ path('item_index') }}">Retour à la liste</a>

                {{ include('item/_delete_form.html.twig') }}

            </div>
        </div>
    </section>
{% endblock %}