{% extends 'layout.html.twig' %}

{% block title %}Items Backoffice{% endblock %}

{% block content %}
    <section class="wrap-bo-item container">
        <div class="row">
            <div class="col-12">
                <div class="back">
                    <a href="{{ path('admin_index') }}">
                        &lt; Back</a>
                </div>
            </div>
        </div>
        <h1>Item - Portfolio</h1>
        <div class="row">
            <div class="col-12">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Titre</th>
                            <th>Contenu</th>
                            <th>Image</th>
                            <th>Lien</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.title }}</td>
                                <td>{{ item.content }}</td>
                                <td>{{ item.img }}</td>
                                <td>{{ item.link }}</td>
                                <td>
                                    <a href="{{ path('item_show', {'id': item.id}) }}">Voir</a>
                                    <a href="{{ path('item_edit', {'id': item.id}) }}">Éditer</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td class="msg" colspan="6">aucun enregistrement</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('item_new') }}">Nouvel item</a>
            </div>
        </div>
    </section>
{% endblock %}