{% extends 'layout.html.twig' %}

{% block title %}Nouvel item{% endblock %}

{% block content %}
    <section class="wrap-bo-item container">
        <div class="row">
            <div class="col-12">
                <div class="back">
                    <a href="{{ path('admin_index') }}">
                        &lt; Back</a>
                </div>
            </div>
        </div>
        <h1>Nouvel item - Portfolio</h1>
        <div class="row">
            <div class="col-12">

                {{ include('item/_form.html.twig') }}

                <a href="{{ path('item_index') }}">Retour à la liste</a>
            </div>
        </div>
    </section>
{% endblock %}