{% extends 'layout.html.twig' %}

{% block title %}Item{% endblock %}

{% block content %}
    <section class="wrap-bo-item container">
        <div class="row">
            <div class="col-12">
                <div class="back">
                    <a href="{{ path('admin_index') }}">
                        &lt; Back</a>
                </div>
            </div>
        </div>
        <h1>Item - Portfolio</h1>
        <div class="row">
            <div class="col-12">

                <table class="table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ item.id }}</td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td>{{ item.title }}</td>
                        </tr>
                        <tr>
                            <th>Content</th>
                            <td>{{ item.content }}</td>
                        </tr>
                        <tr>
                            <th>Img</th>
                            <td>{{ item.img }}</td>
                        </tr>
                        <tr>
                            <th>Link</th>
                            <td>{{ item.link }}</td>
                        </tr>
                    </tbody>
                </table>

                <a href="{{ path('item_index') }}">Retour à la liste<br></a>

                <a href="{{ path('item_edit', {'id': item.id}) }}">Éditer</a>

                {{ include('item/_delete_form.html.twig') }}
            </div>
        </div>
    </section>
{% endblock %}